<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIDEO ROOM</title>

    <!-- <link rel="stylesheet" href="../videoStyler.css"> -->

    <style>
        #video-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 300px;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        #green {
            text-align: center;
            color: green;
        }
    </style>
    <!-- Getting ROOM_ID from the server-->
    <script>const ROOM_ID = "<%= roomId %>"</script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>


</head>

<body>
    <div id="video-grid"></div>
    <h1 id="green">THIS SHOULD BE GREEN</h1>
</body>

</html>